<footer class="cont">
    <div class="row">
        <div class="col-xs-12 col-sm-6 contact">
        An Vu <br>
        ngocan.vu@vuw.ac.nz<br><br>
        Location:<br>
        Wellington region (New Zealand) or remote work<br><br>
        </div>
        <div class="col-xs-12 col-sm-6 social">
            <a href="https://www.linkedin.com/in/ngocanvu/"><i class="fa fa-linkedin-square fa-3x social"></i></a>
            <a href="mailto:ngocan.vu@vuw.ac.nz"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <div class="col-xs-12 copyright">© 2021 VU NGOC AN</div>
    </div>
    <! -- can xem lai sua nut back  to top -->
    <a href="#"><div class="back-to-top" style="display: block;"><i class="fa fa-arrow-up fa-1x"></i></div></a>
</footer>                      