{% load static %}

<! -- thanh dau trang --> 

<div class="row menu-top" style="display: block;">

    <div class="col-xs-1 no-padding">
        
    </div>
    <div class="col-xs-10">
        <nav class="menu-navigation">
            <div class="menu-menu-en-container"><ul id="menu-menu-en" class="menu">
                <li class="logo"> <a href="" class="custom-logo-link" rel="home" aria-current="page"><img src="{%static "small logo circle.png" %}" class="custom-logo" alt="AV logo" style="height: 40px;"></a>				</li>
                <li id="menu-item-63" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-63"><a href="#skills" aria-current="page">Skills</a>
<ul class="sub-menu">
<li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386"><a href="123">Data analysis</a></li>
<li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="123">Data collection</a></li>
<li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469"><a href="123">Data visualisation</a></li>
</ul>
</li>
<li id="menu-item-62" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-62"><a href="#about-me" aria-current="page">About me</a></li>
<li id="menu-item-64" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-64"><a href="#portfolio" aria-current="page">Portfolio</a></li>
<li id="menu-item-348" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-348"><a href="#objectives" aria-current="page">Objectives</a></li>
</ul></div>				</nav>
    </div>
</div>

<! -- background va small logo --> 

<div class="start" style="background-image: url({%static "background.png" %});"></div>

<blockquote class=""><p> <font face="Verdana" size = "5"> I want to contribute my knowledge and skills to helps others make the right decisions driven by data </font></p></blockquote>