<div class="row" style="background-color: #ffffff">
    <div class="col-xs-12 col-sm-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 two-columns" id="objectives">
        <div class="col-xs-12 subtitle"><h2>Objectives</h2></div>
        <div class="col-xs-12 content"><p><strong>An Vu</strong><br> 
<span> Email: ngocan.vu@vuw.ac.nz</span></p>
<p> As a recent-graduated student, I am actively looking for working opportunities as a data analysist (either short-term or long-term contracts). With my skills and knowledge, I can be a supportive part of your organisation in translating complex question into understandable data-driven insights.</p>

</div>
        <div class="col-xs-12 col-sm-6 left"><p><strong>I have gained skills on:</strong></p>
<ul>
<li>Data analysis with Python, R, SQL, SPSS and AMOS </li>
<li>Understanding and use of SQL to write SQL scripts/queries and design reports</li>
<li>Data visualisation with Power BI</li>
<li>Project Management with client-oriented mindset </li>
<li>Designing survey and efficiently constructing data collection with Qualtrics </li>
<li>Presentations (efficient with Power BI and clip-presenting with PowerPoint)</li>
</ul>
</div>

</div>
    </div>
</div>