{% load static %}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 services" id="skills">
        <div class="col-xs-12 subtitle"><h2>skills</h2></div>
        <div class="col-xs-12 content"; style = "font-size: 20px"><p>As a post-graduated student, I am actively searching for either short or long-term opportunities to work as a data analyst. I am experienced in using Python, R, SQL as well as statistical programs such as SPSS or AMOS for my data projects. </p>
        </div>
    </div>
    </div>
    <table width = "65%"; align = "center";> 
        <tr>
            <th><img width ="150px"; src="{% static 'Datacollection.png' %}" alt="Icon data collection"></th>
            <th><img height = "150px"; src="{% static 'datanalyse.png' %}" alt="Icon data analysis"></th>
            <th><img height = "150px"; src="{% static 'Datavisualisation2.png' %}" alt="Icon data visualisation"></th>
        </tr>
        <tr>
            <td>
                <h3>Data collection</h3>
                    <p word-spacing= "10px">I am specialized in analyzing data. Results, trends and recommendations are clearly presented in reports or tools.<br>
                    (<a href="123">example</a>)</p>
                    
            </td>
            <td>
                <h3>Data analysis</h3>
                <p word-spacing= "10px">I am specialized in analyzing data. Results, trends and recommendations are clearly presented in reports or tools.<br>
                (<a href="123">example</a>)</p>    
            </td>
            <td> 
                <h3>Data visualisation</h3>
                <p word-spacing= "10px">I am specialized in analyzing data. Results, trends and recommendations are clearly presented in reports or tools.<br>
                (<a href="123">example</a>)</p>  
            </td>
        </tr>
    </table>
        
        
        